/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import 'bootswatch';

@font-face {
    font-family: 'Leckerli One';
    src: url('/assets/fonts/LeckerliOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$sidenav-width-expanded: 250px;
$sidenav-width-collapsed: 65px;

body {
    height: 100vh;
}

.font-leckerli {
    font-family: 'Leckerli One';
}

.p-fixed {
    position: static;
}

.ms-sidenav-collapsed,
.ms-sidenav-expanded {
    margin-left: 0;
}

.w-sidenav-expanded,
.w-sidenav-collapsed {
    width: 100%;
}

@include media-breakpoint-up(md) {
    .p-fixed {
        position: fixed;
    }

    .ms-sidenav-collapsed {
        margin-left: $sidenav-width-collapsed;
    }

    .ms-sidenav-expanded {
        margin-left: $sidenav-width-expanded;
    }

    .w-sidenav-expanded {
        width: $sidenav-width-expanded;
    }

    .w-sidenav-collapsed {
        width: $sidenav-width-collapsed;
    }
}
