<div class="modal-header">
    <h5 class="modal-title">
        {{
            (model.id
                ? 'dialogs.upsert_device.title_update'
                : 'dialogs.upsert_device.title_create'
            ) | translate
        }}
    </h5>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit(model)" #createDeviceForm>
    <div class="modal-body">
        @if (schema()) {
            <formly-form [form]="form" [fields]="fields()" [model]="model" />
        }
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="modal.dismiss('cancel click')">
            {{ 'common.buttons.cancel' | translate }}
        </button>
        <button type="button" class="btn btn-danger" (click)="onSubmit(model)">
            {{
                (model.id
                    ? 'dialogs.upsert_device.confirm_button_update'
                    : 'dialogs.upsert_device.confirm_button_create'
                ) | translate
            }}
        </button>
    </div>
</form>
