services:
    energypilot:
        container_name: energypilot-io
        image: energypilot/energypilot:latest
        restart: unless-stopped
        network_mode: host

        volumes:
            # For persisting EnergyPilot's databases and common configuration
            - ./data/:/data
        ports:
            # Default Web UI Port
            - '3000:3000/tcp'
