<mat-card appearance="outlined">
    <mat-card-content>
        <div class="flex flex-col gap-4">
            <div class="flex gap-2 rounded-full bg-stone-200 p-2">
                <button
                    [matButton]="
                        currentTimeRange() === TimeRange.Day
                            ? 'filled'
                            : 'outlined'
                    "
                    (click)="setTimeRange(TimeRange.Day)">
                    {{ 'common.timerange.day' | translate }}
                </button>
                <button
                    [matButton]="
                        currentTimeRange() === TimeRange.Week
                            ? 'filled'
                            : 'outlined'
                    "
                    (click)="setTimeRange(TimeRange.Week)">
                    {{ 'common.timerange.week' | translate }}
                </button>
                <button
                    [matButton]="
                        currentTimeRange() === TimeRange.Month
                            ? 'filled'
                            : 'outlined'
                    "
                    (click)="setTimeRange(TimeRange.Month)">
                    {{ 'common.timerange.month' | translate }}
                </button>
                <button
                    [matButton]="
                        currentTimeRange() === TimeRange.Year
                            ? 'filled'
                            : 'outlined'
                    "
                    (click)="setTimeRange(TimeRange.Year)">
                    {{ 'common.timerange.year' | translate }}
                </button>
            </div>

            <div class="grid grid-cols-3">
                <div class="py-5">
                    <div
                        class="flex h-full flex-col rounded-l-md bg-stone-200 p-4">
                        <div class="text-xs text-stone-500">
                            {{ 'kpi.production' | translate }}
                        </div>
                        <div class="text-xl text-nowrap">
                            {{ totalProduction() | energy }}
                        </div>
                    </div>
                </div>
                <div class="relative py-5">
                    <div
                        echarts
                        [options]="chartOption"
                        [merge]="mergeOptionProductionExport()"
                        class="absolute top-0 h-full w-full"></div>

                    <div class="h-full bg-stone-200"></div>
                </div>
                <div class="py-5">
                    <div class="h-full rounded-r-md bg-stone-200 p-4">
                        <div class="text-xs text-stone-500">
                            {{ 'kpi.export' | translate }}
                        </div>
                        <div class="text-xl text-nowrap">
                            {{ totalExport() | energy }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-3">
                <div class="py-5">
                    <div class="h-full rounded-l-md bg-stone-200 p-4">
                        <div class="text-xs text-stone-500">
                            {{ 'kpi.own-consumption' | translate }}
                        </div>
                        <div class="text-xl text-nowrap">
                            {{ totalOwnConsumption() | energy }}
                        </div>
                    </div>
                </div>
                <div class="relative py-5">
                    <div
                        echarts
                        [options]="chartOption"
                        [merge]="mergeOptionOwnConsumptionImport()"
                        class="absolute top-0 h-full w-full"></div>

                    <div class="h-full bg-stone-200"></div>
                </div>
                <div class="py-5">
                    <div class="h-full rounded-r-md bg-stone-200 p-4">
                        <div class="text-xs text-stone-500">
                            {{ 'kpi.import' | translate }}
                        </div>
                        <div class="text-xl text-nowrap">
                            {{ totalImport() | energy }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-2">
                <div class="flex flex-col">
                    <div class="text-xs text-stone-500">
                        {{ 'kpi.total-consumption' | translate }}
                    </div>
                    <div class="text-2xl font-bold">
                        {{ totalConsumption() | energy }}
                    </div>
                </div>

                <div class="flex flex-col">
                    <div class="text-right text-xs text-stone-500">
                        {{ 'kpi.autonomy' | translate }}
                    </div>
                    <div class="text-right text-2xl font-bold">
                        {{ 1.0 - totalImport() / totalConsumption() | percent }}
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
