<app-widget-base
    header="{{ 'widgets.solar-forecast.title' | translate }}"
    [name]="name"
    [canMoveUp]="canMoveUp()"
    [canMoveDown]="canMoveDown()"
    (moveUp)="moveUp()?.emit($event)"
    (moveDown)="moveDown()?.emit($event)">
    @if (forecastData() === undefined) {
        <ngx-skeleton-loader
            count="2"
            appearance="line"
            animation="pulse-dark"></ngx-skeleton-loader>
    } @else if (timestamps().length === 0) {
        <div class="text-center fs-4 py-4">No Forecast Data</div>
    } @else {
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center">
                <button class="btn p-0" (click)="decrementForecastDay()">
                    <ng-icon name="tablerCircleChevronLeft" size="32" />
                </button>

                <div>{{ currentDayLabel() }}</div>

                <button class="btn p-0" (click)="incrementForecastDay()">
                    <ng-icon name="tablerCircleChevronRight" size="32" />
                </button>
            </div>

            <div
                echarts
                [options]="chartOption()"
                [merge]="mergeOption()"
                class="h-72 w-full"></div>

            <div class="row">
                <div class="col d-flex flex-column">
                    <div class="text-light-emphasis">
                        {{ 'widgets.solar-forecast.total-energy' | translate }}
                    </div>
                    <div class="fs-4 text-nowrap">
                        {{ dailyProduction() | energy }}
                    </div>
                </div>

                <div class="col d-flex flex-column text-end">
                    <div class="text-light-emphasis">
                        {{
                            'widgets.solar-forecast.remaining-production'
                                | translate
                        }}
                    </div>
                    <div class="fs-4 text-nowrap">
                        {{ remainingProduction() | energy }}
                    </div>
                </div>
            </div>
        </div>
    }
</app-widget-base>
