<mat-sidenav-container>
    <mat-sidenav
        [opened]="!isMobile()"
        [style.width]="sidenavWidth()"
        [mode]="isMobile() ? 'over' : 'side'"
        [fixedInViewport]="isMobile()"
        #snav>
        <div class="flex h-full flex-col">
            <a href="/">
                <div class="flex h-16 items-center gap-4 p-4">
                    <mat-icon svgIcon="logo" class="scale-150" />
                    @if (isMobile() || !sidenavCollapsed()) {
                        <span class="app-title self-center text-2xl">
                            Energy Pilot
                        </span>
                    }
                </div>
            </a>

            <app-custom-sidenav
                [collapsed]="sidenavCollapsed()"
                [items]="topMenuItems()"
                [mobile]="isMobile()"
                (onLinkClick)="isMobile() ? snav.close() : null" />

            <span class="grow"></span>

            <app-custom-sidenav
                [collapsed]="sidenavCollapsed()"
                [items]="bottomMenuItems()" />
            <div class="p-2 text-xs">v2026.1</div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content
        [style.margin-left]="!isMobile() ? sidenavWidth() : '0px'">
        <mat-toolbar class="shadow-sm" [class.fixed-header]="isMobile()">
            @if (!isMobile()) {
                <button
                    mat-icon-button
                    (click)="storeStatus(!sidenavCollapsed())">
                    <mat-icon>
                        @if (!sidenavCollapsed()) {
                            arrow_back_ios
                        } @else {
                            arrow_forward_ios
                        }
                    </mat-icon>
                </button>

                <span class="grow"></span>
            } @else {
                <button matIconButton (click)="snav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>

                <span class="app-title grow text-center text-2xl">
                    Energy Pilot
                </span>
            }

            <app-theme-picker />
            <app-language-picker />
        </mat-toolbar>

        <div class="p-4">
            <router-outlet />
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
