.content {
    padding: 0px;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    position: relative;
    z-index: 5;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav,
mat-sidenav-content {
    transition: all 500ms ease-in-out;
}
