<div class="card">
    <div class="card-body">
        <div class="d-flex">
            @if (header()) {
                <h5 class="card-title text-truncate">{{ header() }}</h5>
            }

            <div class="ms-auto"></div>

            @if (canMoveUp()) {
                <button
                    class="btn p-0"
                    #t="ngbTooltip"
                    ngbTooltip="{{ 'widgets.base.moveUp' | translate }}"
                    container="body"
                    (click)="t.close(); moveUp.emit(name()!)">
                    <ng-icon name="tablerArrowUp" size="22" />
                </button>
            }

            @if (canMoveDown()) {
                <button
                    class="btn p-0"
                    #t="ngbTooltip"
                    ngbTooltip="{{ 'widgets.base.moveDown' | translate }}"
                    container="body"
                    (click)="t.close(); moveDown.emit(name()!)">
                    <ng-icon name="tablerArrowDown" size="22" />
                </button>
            }

            <button
                class="btn p-0"
                #t="ngbTooltip"
                ngbTooltip="{{
                    'widgets.base.' + (hidden() ? 'maximize' : 'minimize')
                        | translate
                }}"
                container="body"
                (click)="t.close(); toggleVisibility()">
                <ng-icon
                    [name]="
                        hidden() ? 'tablerMaximize' : 'tablerWindowMinimize'
                    "
                    size="22" />
            </button>
        </div>

        @if (!hidden()) {
            <ng-content />
        }
    </div>
</div>
